* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  
  
  .grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 40vmin;
    width: 40vmin;
  }
  
  .grid div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 10%;
    width: 10%;
  }
  
  .grid div.cat {
    background-image: url('../assets/cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }